<div class="container col-6">
<h1 class="text-center">Create Your New Restaurant</h1>
<h2 ><%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>
</h2>

<p><%= link_to restaurants_path do%>
  <i class="fas fa-arrow-alt-circle-left"> Back to Lists</i>
<% end %>
</p>
</div>
