
<h1> Restaurant <%= @restaurant.name%></h1>
<p> <%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %> </p>
<p><%= @restaurant.category %> </p>
<p><%= @restaurant.reviews %> </p>

<%= link_to "Back to List", restaurants_path  %>
